@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #1f2937;
  background: #ffffff;
}

@layer utilities {
  .safe-bottom {
    padding-bottom: env(safe-area-inset-bottom);
  }
}
